<!-- Sidebar  -->


        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
            <div class="sidebar-header"> <a href="{{ path("index") }}">
            	<img src="{{ asset("assets/images/hodlercloud.png") }}" width="200"></a>
            	<!-- 
                <h3>Hodler Cloud</h3>
                 -->
            </div>
            <ul class="list-unstyled components">
                <p class="nav-header">Navigation</p>

                <li>
                    <a href="{{ path("index") }}">Home</a>
                </li>

                <li>
                    <a href="#SubMenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hodler Mining</a>
                    <ul class="list-unstyled collapse" id="SubMenu1" style="">  
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Workers</a>
                        </li>
                        <li>
                            <a href="#">Network</a>
                        </li>
                        <li>
                            <a href="#">Output & ROI</a>
                        </li>
                        <li>
                            <a href="#">Payouts</a>
                        </li>
                        <li>
                            <a href="#">HODLR (NTP1)</a>
                        </li>
                        <li>
                            <a href="#">HDLRE (ERC20)</a>
                        </li>
		    </ul>

		<li>

                    <a href="#SubMenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mining Pool</a>
                    <ul class="list-unstyled collapse" id="SubMenu2" style="">  
                        <li>
                            <a href="#">Dashboard</a>
                       </li>
                        <li>
                            <a href="#">Pools</a>
                       </li>
                        <li>
                            <a href="#">Software</a>
                        </li>
                        <li>
                            <a href="#">Payouts</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="#">Statistics</a>
                        </li>
                        <li>
                            <a href="#">API</a>
                        </li>
		</ul> 
                
				
			</ul>

        </div></div>


        </nav>
